import { {{name}} } from "./{{name}}";

export default { component: {{name}} };

export const Default = {
  args: {
    title: "Test",
    children: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  },
};
