import { {{name}} } from "./{{name}}";

export default { component: {{name}}{{#page}}, parameters: { layout: "fullscreen" }{{/page}} };

export const {{#page}}Page{{/page}}{{^page}}Default{{/page}} = {{curly}}{{^props}}};{{/props}}
{{#props}}
  args: {
    title: "Test",
    children: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  },
};
{{/props}}